<a href="/product?id={%ID%}" class="text-decoration-none">
    <div class="card mb-3" >
        <div class="row g-0">
        <div class="col-md-4">
            <span class="display-1">{%IMAGE%}</span>
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">{%NAME%} - {%BRAND%} </h5>
            <p class="card-text">Description: {%DESCRIPTION%}</p>
            <p class="card-text"><small class="text-body-secondary">Price: {%PRICE%} €</small></p>
            </div>
        </div>
        </div>
    </div>
</a>